*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

ul{
    /* list-style: none; */
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.div img{
    display: block;
    width: 100%;
}
.flex-container{
    display: flex;
    max-width: 100vw;
    margin: auto;
    width: 100%;
    min-width: 320px;
    
}

header{
    display: flex;
    background: #122A57;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100vw;
    color: white;
}

.lista{
     display:flex;
    justify-content: space-evenly;
    list-style: none;
}
.lista a {
    color: white;
    margin: 20px;
    
}
.apresentação{
    flex-direction: row;
    height:100vh;
    align-items: center;
    justify-content: space-between;
}
.apresentação .texto-apresentação{
    min-height: 200px;
   
}

.texto-apresentação h1{
    color: #122A57;
    margin-bottom: 10px;
    font-size: 48px;
}
.texto-apresentação{
    margin: 150px;
}
.btn{
    background:#122A57 ;
    color: white;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    line-height: 1.9;
    letter-spacing: 2px;
    margin-top: 20px ;

}

#quem-somos{
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-between;
}
#quem-somos p{
     margin-bottom: 10px;
     width: 90%;
}
#quem-somos img{
     
     min-width: 420;
}
#quem-somos h2{
     font-size: 32px;
     color: #122A57; 
     display: flex;
     margin-bottom: 20px;
}
#quem-somos h2::before{
     content: "";
     height: 50px;
     width: 5px;
     margin-right: 5px;
     background:#122A57 ;
     position: relative;
}

.container-externo{
    background:#122A57 ;
    width: 100%;
    display: flex;
   
}

#servicos{
    flex-direction: column;
    padding-top: 50px ;
    padding-bottom: 100px; 
}
#servicos h2{
    color: while;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{
    display: flex;
   justify-content: space-between;
}
.list-servicos .item-servicos{
    text-align: center;
}

.item-servicos a {
    width: 220px;
    background-color: #fff;
    border-radius: 30px ;
    text-decoration: none;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
    padding: 5px 10px ;
    color: #122A57;
    font-size: 12px;
    font-weight: 700;
}

.item-servicos p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servicos img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    margin-top: 50px;
}
#planos h2{ 
    font-size: 32px;
}

.lista-plano{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}
.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    
}
.item-plano h3::after{
    content: "";
    background-color:#122A57 ;
    width:100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color:#122A57 ;
    margin-right: 5px;
}

footer{
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}
footer .footer{
    justify-content: space-between;
    color: #fff;
}